{% load static %}
<!doctype html>
<html lang="en">

<head>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="{% static 'Lab4/main.css' %}">
    <title>Hello, world!</title>
</head>

<body class="bgAll">
        <div class="se-pre-con"></div>
  
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#home">
          <img src="{% static 'Lab4/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="">
          <ul id = "navbarcoy" class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/About">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/#">Resume</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/Contact">Contact</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/PageRegister">Register</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="/Books">Books</a>
                </li>
          </ul>
      </div>
      
      <a class="navbar-brand" id="foto" href="#home">
          <img src="{% static 'Lab4/524.jpg' %}" width="100" height="150" class="d-inline-block align-top" alt="">
      </a>
  </nav>
    

    {% block contentcoy %}
    {% endblock contentcoy %}

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block jscoy %}
    {% endblock %}

    
<script type="text/javascript" src="{% static 'Lab4/app.js' %}"></script>



</body>
</html>>