
#navbar {
    background-color: white;
}
#page {
    background-color: grey;
    
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
}
.bgAll {
    background-color: grey;
}
.contentBG {
    background-color: #2c87b1;
    
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 560px;
    
    
}
.contentBG.BGganti {
    background-color: rgb(75, 207, 97);
    
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 560px;
    
    
}
#content {
    text-align: center;
    
    height: 400px;
    padding-top: 15%;
    padding-bottom: 40%;
    fill: black;
}
.littleStoring {

    height: 350px;
    background-color: white;
    margin-bottom: 70px;
}
.littleStoringGanti {
    background-color: rgb(233, 236, 59);
}
#littleStory {
    padding-top: 160px;
    margin: auto;
    text-align: center;
        
}

.navbar {
    background-color: white;
}
#txAtas {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
}

#txBawah {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    font-size: 70px;
}

#foto {
    border: 20px solid white;
    transform: translateX(-100%);
    top: 10px;
    left: 100%;
    padding: 0% 0% 0% 0%;
    position: absolute;
  }

  .container {
      background-color: white;
      width: 300px;
  }

  .navbar-collapse {
      margin-right: 140px;
  }

  #containAbout {
      margin-top: 100px;
      height: 450px;
      background-color: white;
  }

.floatKanan {
    float: right;
    width: 60%;
    text-align: center;
    padding: 5% 10% 5% 0% ;
    
}
.floatKiri {
    float: left;
    width: 40%;
    padding: 5% 0% 5% 10% ;
    
    
}
#centerFoto {
    transform: translateX(-25%);
    padding-left: 50%;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: center no-repeat rgb(255, 255, 255);
}

tr{
    background-colour: rgb(188, 255, 240);
}