{%extends 'base.html'%}
{% load static %}




{%block contentcoy%}
  <div id="page">
        <div id = "containAbout">
            <div class = "floatKiri">
                <div id = "centerFoto">
                    <img src="{% static 'Lab4/524.jpg' %}" width="200" height="300">
                </div>
                
            </div>
            <div class = "floatKanan">
                <h4>More About Me</h4>
                <p>
                    I'm a computer science student at University of Indonesia. I'm a computer science student at University of Indonesia. I'm a computer science student at University of Indonesia. I'm a computer science student at University of Indonesia. I'm a computer science student at University of Indonesia. I'm a computer science student at University of Indonesia. 
                </p>
            </div>
        

        </div>
  </div>

  {%endblock contentcoy%}