{%extends 'base.html'%}
{%load static%}


{%block contentcoy%}
    <div id = "atasannyaBooks" style="padding-top: 55px; padding-left: 30px;">
        <h3>Favorite : <span id = "jmlFav">0</span></h3>
        <form id = "formSearch" >
            <br><input type="search" id = "kotakSearch" ><br>
        </form>
        <button id = "tombolSearch">Search</button>
    </div>

    <div style=" padding: 10px;">
        <table class="table "  >
            <thead style="background-color: rgb(188, 255, 240);">
                <tr class = "active">
                <th>Judul</th>
                <th>Penulis</th>
                <th>Tahun</th>
                <th>Favorite</th>
                </tr>
            </thead>
            <tbody id = "isi_table" style="background-color: rgb(255, 255, 255);">
                
            </tbody>
        </table>
    </div>




{%endblock contentcoy%}

{% block jscoy %}
    <script>
        var not_fav = "{% static 'Lab4/favorites.png' %}";
        var fav = "{% static 'Lab4/favorites (1).png' %}";
    </script>


{% endblock %}
