{%extends 'base.html'%}
{%load static%}

<style>
.row {
    margin: 0px;
}
</style>

{%block contentcoy%}
<style>
        .row {
            margin-left: 70px;
        }
        </style>
<div class="row">
    <div class="well">
        <form action="/Register/" method="POST">
            {% csrf_token %}
            {{ JadwalForm }}
            <input type="submit" value="Submit">
        </form>  
        <form action="/delete/" >
            <input type="submit" value="Delete">
        </form>
    </div>
</div>

<div class="row">
    <div class="well">
        {% if Jadwals %}
        {% for jadwal in Jadwals %}
        <h5>kegiatan: {{jadwal.nama}} |tanggal: {{jadwal.tanggal}} |jam: {{jadwal.jam}} |tempat: {{jadwal.tempat}} |kategori: {{jadwal.kategori}}</h5>
        {% endfor %}
        {% endif %}
    </div>
        
</div>



{%endblock contentcoy%}