{%extends 'base.html'%}
{%load static%}


{%block contentcoy%}
  <div id="page">
      <div class="contentBG BGganti">
        <div id="content">
            <h4 id="txAtas">living a lived life is lively</h4>
            <h1 id="txBawah">Let's start our journey together</h1>
        </div>
      </div>

      <div class="littleStoring littleStoringGanti">
          <div id="littleStory">
              <h3>I put my work focuses here. Short paragraph about what I want my visitors to know about me </h3>
          </div>
      </div>

      <div id = "storeAccordion" >
          <div  class = "column" style = "padding: 10px">
              <button id = "buttontema">Theme</button>
          </div>
          
            <div id="accordion" class = "column">
                <h3>Daftar Aktivitas</h3>
                <div>
                    <p>
                        Kuliah, Mengurus Komisi Aspirasi DPM Fasilkom UI, KepanitiaanCGT Fasilkom
                    </p>
                    
                </div>
                <h3>Pengalaman Organisasi</h3>
                <div>
                    
                    <ul>
                        <li>Divisi Acara 25th CGT </li>
                        <li>Pengajar & Mentor Bimbingan Belajar Betis</li>
                        <li>DPM Fasilkom UI 2018</li>
                    </ul>
                </div>
                <h3>Prestasi</h3>
                <div>
                    
                    <ul>
                    <li>Ganteng</li>
                    <li>Pinter</li>
                    <li>Baik Hati & Tidak Sombong</li>
                    </ul>
                </div>
                
            </div>
      </div>
  </div>


  {%endblock contentcoy%}